:root{
    --primaryText: black;
    --secondaryText: grey; 

    --primaryColor: white;
    --secondaryColor: #eaeaea;

    --borderColor: #c1c1c1;

    --panelColor:rgb(239, 239, 239, 0.8)
}

html, body{
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--primaryText);
    font-family: 'Heebo', sans-serif;
}

a{
    text-decoration: none;
    color:#17a2b8;
    font-family: 'Arimo', sans-serif;

}

ul{
    list-style: none;
}

h1{ font-size: 56px;}
h2{ font-size: 36px;}
h3{ font-size: 28px;}
h4{ font-size: 24px;}
h5{ font-size: 20px;}
h6{ font-size: 16px;}

p, li, span, label, input, textarea {
    color: var(--secondaryText);
    font-family: 'Arimo', sans-serif;
}

.section-1{
    background-color: var(--primaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.section-2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;

}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.welcome-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

.intro-wrapper{
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    margin-bottom: 25px;

    /* shadow */

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column';
}

.nav-wrapper{
    display: flex;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    justify-content: space-between;
    align-items: center;
}

.left-links{
    padding: 10px;
    margin: 0;
}
.left-links li{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.right-links{
    padding: 10px;
    margin: 0;
}

.left-column{
    grid-area: left-column;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}
#profile_pic{
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border:2px solid var(--borderColor);
    border-radius: 50%;
}

#education-panels{
    position: relative;
}
.panel{
    position: absolute;
    border: 1px dashed coral;
    width: 350px;
    min-height: 150px;
    background-color: var(--panelColor);
}
#my-title{
    margin: 0;
    text-align: center;

}
#bootcamp{
    text-align: center;

    margin-left: 100px;
    margin-top: 120px;
}
#college{
    text-align: center;

    margin-left: 200px;
    margin-top: 240px;
}

.right-column{
    grid-area: right-column;
    padding-top: 25px;
    padding-bottom: 25px;
}

.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 100px;
    padding-bottom: 25px;
}

#skills{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid red;

}
.skill-images{
}
.skill-image-container{
    display: flex;
}
.skill-circle{
    border: 1px solid black;
    margin-top: 10px;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}
@media screen and (max-width: 800px){
    .intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper'
            'left-column'
            'right-column';
    }
    .panel{
        position: relative;
    }
    #bootcamp, #my-title, #college{
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 20px;
       margin-top: 0;
    }
}